.error-box-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.error-box {
  background-color: #dadada;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 10px 5px 5px black;
  text-align: center;
  overflow: auto;
  width: 400px;
  height: 300px;
}

.error-message {
  margin-bottom: 20px;
  word-wrap: break-word; 
  font-size: 18px;
  color: black;
  white-space: pre-wrap; 
  text-align: left;
}

