.error-box-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 9999;
}

.error-box {
  background-color: #dadada;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 10px 5px 5px black;
  text-align: center;
}

.error-message {
  margin-bottom: 20px;
  font-size: 18px;
  color: black;
  white-space: pre;
  text-align: left;
}
