@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');

body {
  background-color: white !important;
  color: black !important; /* White text color, if needed */
}

h1 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: 900;
  font-size: 1.5em;
  color: white;
}

h2 {
  height: 25px;
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.header {
  height: 50px;
  background-color: #333;
  color: white;
  padding-left: 10px;
  font-size: 20pt;
}

.line {
   position: absolute;
   background-color: #b8f7c0;
}

.visualisation-container {
  height: 500px; 
  width: 800px;
  overflow: auto;
}

